In [ ]:
import pandas as pd

d0 = {2: 'a', 1: 'b', 3: 'c'}# Dictionary with keys 2, 1, and 3, and corresponding values 'a', 'b', and 'c'
pd0 = pd.Series(d0)#create a pandas Series from this dictionary
print(pd0)#Print pandas series

2    a
1    b
3    c
dtype: object

In [ ]:
pd0 = pd0.sort_index()# Sort the Pandas Series by its index
# Print the sorted Pandas Series
print("Sorted Pandas Series:")
print(pd0)

Sorted Pandas Series:
1    b
2    a
3    c
dtype: object

In [ ]:
d1 = {'a': 1, 'b': 2}
d2 = {'b': 3, 'c': 4}
# Create Pandas Series from d1 and d2
pd1 = pd.Series(d1)
pd2 = pd.Series(d2)
# Concatenate the Series into a DataFrame with labeled columns 'd1' and 'd2'
df = pd.concat([pd1, pd2], axis=1, keys=['d1', 'd2'])

# Print the resulting DataFrame
print("Concatenated DataFrame:")
print(df)

Concatenated DataFrame:
    d1   d2
a  1.0  NaN
b  2.0  3.0
c  NaN  4.0

In [ ]:
# Access the 'd1' column from the concatenated DataFrame
column_d1 = df['d1']
print("Column 'd1' from Concatenated DataFrame:")
print(column_d1)

Column 'd1' from Concatenated DataFrame:
a    1.0
b    2.0
c    NaN
Name: d1, dtype: float64

In [ ]:
# Access both 'd1' and 'd2' columns from the concatenated DataFrame
columns_d1_and_d2 = df[['d1', 'd2']]
print("Columns 'd1' and 'd2' from Concatenated DataFrame:")
print(columns_d1_and_d2)

Columns 'd1' and 'd2' from Concatenated DataFrame:
    d1   d2
a  1.0  NaN
b  2.0  3.0
c  NaN  4.0

In [ ]:
# Access rows from index 1 to 2
sliced_rows = df[1:3]#last index is not include.
print(sliced_rows)

    d1   d2
b  2.0  3.0
c  NaN  4.0

In [ ]:
# Access specific rows by label ('a', 'b', 'c') and specific columns by label ('d1', 'd2')
sliced_subset = df.loc[['a', 'b', 'c'], ['d1', 'd2']]
print("Sliced Subset of the DataFrame:")
print(sliced_subset)

Sliced Subset of the DataFrame:
    d1   d2
a  1.0  NaN
b  2.0  3.0
c  NaN  4.0

In [ ]:
# Access specific rows (1 and 2) and columns (0) by integer position
sliced_subset_iloc = df.iloc[1:3, 0:1]
print("Sliced Subset using Integer Positions:")
print(sliced_subset_iloc)

Sliced Subset using Integer Positions:
    d1
b  2.0
c  NaN

In [ ]:
# Access the first row (integer position 0) and the first column (integer position 0)
value = df.iloc[0, 0]
print("Value at first row and first column:")
print(value)

Value at first row and first column:
1.0

In [ ]:
# Access a subset of rows (2nd and 3rd rows) and columns (1st and 2nd columns) using integer positions
subset = df.iloc[1:3, 0:2]
print("Subset of Rows 2 and 3, Columns 1 and 2:")
print(subset)

Subset of Rows 2 and 3, Columns 1 and 2:
    d1   d2
b  2.0  3.0
c  NaN  4.0

In [ ]:
# Access a specific element using row label 'a' and column label 'd1'
value = df.loc['a', 'd1']
print("Value at row 'a' and column 'd1':")
print(value)

Value at row 'a' and column 'd1':
1.0

In [ ]:
# Access a subset of rows and columns by labels
subset = df.loc[['a', 'b', 'c'], ['d1', 'd2']]
print(subset)

    d1   d2
a  1.0  NaN
b  2.0  3.0
c  NaN  4.0

In [ ]:
# Forward fill missing values along rows (axis 0)
print("Original DataFrame:")
print(df)

Original DataFrame:
    d1   d2
a  1.0  NaN
b  2.0  3.0
c  NaN  4.0

In [ ]:
# Forward fill missing values along rows (axis 0)
filled_df_rows = df.fillna(method='ffill', axis=0)
print("\nDataFrame after Forward Filling along Rows (Axis 0):")
print(filled_df_rows)

DataFrame after Forward Filling along Rows (Axis 0):
    d1   d2
a  1.0  NaN
b  2.0  3.0
c  2.0  4.0

In [ ]:
# Forward fill along columns (axis 1)

filled_df_columns = df.fillna(method='ffill', axis=1)
print(f"forwaded filling along axes 1(colume) \n{filled_df_columns}")

forwaded filling along axes 1(colume)
    d1   d2
a  1.0  1.0
b  2.0  3.0
c  NaN  4.0

In [ ]:
# Backward fill along rows (axis 0)
filled_df_rows = df.fillna(method='bfill', axis=0)
print(f"backward filling along axes 0(row) \n{filled_df_rows}")

backward filling along axes 0(row)
    d1   d2
a  1.0  3.0
b  2.0  3.0
c  NaN  4.0

In [ ]:
# Backward fill missing values along columns (axis 1)
filled_df_columns = df.fillna(method='bfill', axis=1)
# Print the DataFrame after Backward Filling along Columns (Axis 1)
print("DataFrame after Backward Filling along Columns (Axis 1):")
print(filled_df_columns)

DataFrame after Backward Filling along Columns (Axis 1):
    d1   d2
a  1.0  NaN
b  2.0  3.0
c  4.0  4.0